@font-face {
  font-family: 'DiodrumArabic-Regular';
  src: url('/public/fonts/DiodrumArabic-Regular.ttf');
}
@font-face {
  font-family: 'DiodrumArabic-Semibold';
  src: url('/public/fonts/DiodrumArabic-Semibold.ttf');
}
@font-face {
  font-family: 'DiodrumArabic-Medium';
  src: url('/public/fonts/DiodrumArabic-Medium.ttf');
}
@font-face {
  font-family: 'DiodrumArabic-Bold';
  src: url('/public/fonts/DiodrumArabic-Bold.ttf');
}
@font-face {
  font-family: 'Shanti-Regular';
  src: url('/public/fonts/Shanti-Regular.ttf');
}
@font-face {
  font-family: 'sharp-medium';
  src: url('/public/fonts/sharp-sans.ttf');
}
@media only screen and (max-width: 1600px){
  .about-header {
    background-position-y: -90px;
  }
}
@media only screen and (min-width: 1601px){
  .about-header {
    background-position-y: -215px;
  }
}